<div class="">
  <form id="accesspanel" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <h1 class="text-center">ND FASHIONS</h1>
    <div class="inset">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required email />
        @if(loginForm.controls['email'].hasError('required')){
        <mat-error> Email is required </mat-error>
        } @if(loginForm.controls['email'].hasError('email')){
        <mat-error> Please enter a valid email address </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          required
          minlength="8"
        />
        @if(loginForm.controls['password'].hasError('required')){
<mat-error >
          Password is required
        </mat-error>
        }
        @if(loginForm.controls['password'].hasError('minlength')){
<mat-error >
          Password should be at least 8 characters long
        </mat-error>
        }
        
      </mat-form-field>

      <div class="">
        <button
          class="w-full border"
          style="padding: 1.7rem"
          type=""
          mat-raised-button
          color="accent"
        >
          LOGIN
        </button>
      </div>

      <div class="flex items-center space-x-3 justify-center my-10">
        <span>if you don't have account ?</span>
        <button class="" mat-button color="accent" (click)="changeTemplate()">
          REGISTER
        </button>
      </div>
    </div>
  </form>
</div>
