<div class="container">
    <div class="grid grid-cols-12 gap-3">
      <div class="col-span-3 lg:col-span-1">
        <div class="w-[3rem] h-[3rem]">
              <img class="w-full h-full rounded-full" src="https://img.faballey.com/images/Product/ILS00539Z/d3.jpg" alt="">
        </div>
      </div>
      <div class="col-span-6 lg:col-span-9">
        <div class="space-y-2">
          <div class="">
            <p class="font-semibold text-lg">item.user.firstName</p>
            <p class="opacity-70">April 5, 2023</p>
          </div>
          <div>
            <div class="">
              <app-star-rating/>
           
            </div>
          </div>
          <p>
            item.review
          </p>
        </div>
      </div>
      <div class="col-span-1 flex"></div>
    </div>
  </div>