<div class="mt-[rem]">
    <!-- <app-main-caurosel/> -->
    <!-- ashok -->
    <app-banner/>
</div>


<div>
    <app-product-card-slider title="Lehanga Choli" [products]="saree"/>
    <app-product-card-slider title="Women's Gouns"  [products]="gouns"/>
    <app-product-card-slider title="Ethnic Wear" [products]="products"/>
    
    
    <!-- <app-product-card-slider title="Men's T-Shirt"/> -->
    <app-product-card-slider title="Women's Kurta" [products]="men_kurta"/>
    <app-product-card-slider title="Shoes" [products]="shoes"/> 

</div>


