<div class="bg-black text-white mt-10 text-center p-5 lg:px-20">
    <div class="container" >
      <div class=" py-3 flex justify-between">
        <div class="px-4 ">
          <h3 class="pb-5 text-lg font-semibold text-gray-500">Company</h3>
          <p class="mb-2">About</p>
          <p class="mb-2">Blog</p>
          <p class="mb-2">Jobs</p>
          <p class="mb-2">Press</p>
          <p class="mb-2">Partners</p>
        </div>
        <div class="px-4 col-span-3">
          <h3 class="text-gray-500 pb-5 text-lg font-semibold">Solutions</h3>
          <p class="mb-2">Marketing</p>
          <p class="mb-2">Analytics</p>
          <p class="mb-2">Commerce</p>
          <p class="mb-2">Insights</p>
          <p class="mb-2">Support</p>
        </div>
        <div class="px-4 col-span-3">
          <h3 class="text-gray-500 pb-5 text-lg font-semibold">Documentation</h3>
          <p class="mb-2">Guides</p>
          <p class="mb-2">API Status</p>
        </div>
        <div class="px-4 col-span-3">
          <h3 class="text-gray-500 pb-5 text-lg font-semibold">Legal</h3>
          <p class="mb-2">Claim</p>
          <p class="mb-2">Privacy</p>
          <p class="mb-2">Terms</p>
        </div>
      </div>
      <div class="pt-10 text-center text-gray-600">
        <p>&copy; 2023 My Company. All rights reserved.</p>
        <p>Made with love by Me.</p>
        <p>
          Icons made by
          <a  class="text-white underline" target="_blank" rel="noopener noreferrer">
            Freepik
          </a>
          from
          <a  class="text-white underline" target="_blank" rel="noopener noreferrer">
            www.flaticon.com
          </a>
        </p>
      </div>
    </div>
  </div>
  