<div class="py-20 px:5 lg:px-20">
  <div class="py-5">
    <h2 class="text-center py-2">{{ "order status" | uppercase }}</h2>
    <app-order-tracker [steps]="steps" [activeStep]="order.orderStatus" />
  </div>

  <div class="space-y-10 pt-10">
    <div class="box px-10">
      <h1 class="text-lg font-semibold py-5">Shipping Address</h1>
      <app-adress-card [address]="order?.shippingAddress" />
    </div>

    <div class="space-y-6 pt-20">
      @for(orderItem of order?.orderItems; track orderItem){
      <app-order-card [orderItem]="orderItem" />
      }
    </div>
  </div>
</div>
